*{
padding: 0;
margin: 0;

}
body {
  padding: 0 !important;
margin: 0 !important;
  box-sizing: border-box;
  font-family: Lexend Deca, sans-serif;
  font-weight: 400;
  color: white;
  position: relative;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  padding: 10px;
  width: 50% !important;
}
.sedan {
  background-color: hsl(31, 77%, 52%) !important;
  border: none !important;
  border-radius: 0% !important;
}
.suv {
  background-color: hsl(184, 100%, 22%) !important;
  border: none !important;
  border-radius: 0% !important;
}
.luxury {
  background-color: hsl(179, 100%, 13%) !important;
  border: none !important;
  border-radius: 0% !important;
}
.img-sedan, .img-suv, .img-luxury {
  width: 2.1875rem;
  margin-top: 30px;
  margin-bottom: 20px;
}
h5 {
  font-family: font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 15px;
  text-align: left;
  color: hsl(0, 0%, 95%);
  padding-bottom: 20px;
  margin-top:100px;
}
p {
  color: hsla(0, 0%, 100%, 0.75)!important;
  padding-top: 0 !important;
  padding-left: 5px !important ;
  padding-right: 5px !important ;
  font-size: 15px !important;
  justify-content: center !important;
  justify-self: center !important;
  align-items: center !important;
  text-align: center !important;
}

 button {
  margin-bottom: 40px !important;
  margin-top: 40px !important;
} 

a{
  background-color: white !important;
  border: 1px solid transparent !important;
  border-radius: 20px !important;

  text-decoration: none !important;
  text-align:center;
  padding:10px 15px !important;
  font-size: 15px;
  /* font-family:'Big Shoulders Display', cursive; */
  font-family:Lexend Deca, sans-serif !important;
  font-weight: 600;
}

.link-1 {
  color: hsl(31, 77%, 52%) !important;
}

.link-2  {
  color: hsl(184, 100%, 22%) !important;
}

.link-3 {
  color: hsl(179, 100%, 13%) !important;
}

/* hover property */
 a:hover {
  border: 1px solid white !important;
  background:none !important;
  color: white !important;
  cursor: pointer !important;

  /* white hover color should appply when a user hovers on the button and the link too */
}
/*mobile */
@media screen and (max-width: 576px) and (min-width: 375px) {
    body {
      /* border-top: tomato !important; */
      font-family: Lexend Deca, sans-serif;
      font-weight: 400;
      color: white;
      position: relative;
    }
    .container {
      position: absolute;
      left: 50%;
      top: 10%;
      /* height: 910px; */
      margin-bottom: 20px !important;
      transform: translate(-50%, 5%);
      padding: 5px;
      border: 1px solid transparent !important;
      border-radius: 10px !important;
    }
    .row{
      flex-direction: column !important; 
      /* to make rows display as columns in the mobile view */
      width: 195px !important;
      /* border: 1px solid transparent !important;
      border-radius: 20px !important; */
    }

    .sedan {
    background-color: hsl(31, 77%, 52%) !important;
    /* height: 300px; */
    border: none !important;
    border-radius: 0% !important;
  }
  .suv {
    background-color: hsl(184, 100%, 22%) !important;
    /* height: 300px; */
    border: none !important;
    border-radius: 0% !important;
  }
  .luxury {
    background-color: hsl(179, 100%, 13%) !important;
    /* height: 300px; */
    border: none !important;
    border-radius: 0% !important;
  }
  .img-sedan, .img-suv, .img-luxury {
    width: 2.1875rem;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  h5 {
    font-family: font-family: 'Big Shoulders Display', cursive;
    /* font-family: lexend Deca, sans-serif; */
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    color: hsl(0, 0%, 95%);
    margin-left: 10px;
    padding-bottom: 20px;
    margin-top:100px;
  }
  p {
    color: hsla(0, 0%, 100%, 0.75) !important;
      margin-left: 5px;
    padding-top: 0 !important;
    padding-left: 10px !important ;
    padding-right: 10px !important ;
    font-size: 11px !important;
    /* justify-content: center !important;
    justify-self: center !important;
    align-items: center !important; */
    text-align: left !important;
  }



/*  */
  button {
  margin-bottom: 20px !important;
  margin-left:5px !important;
  margin-top: 0px !important;
  text-align: left !important;
} 

a{
  background-color: white !important;
  border: 1px solid transparent !important;
  border-radius: 20px !important;
  text-decoration: none !important;
  padding:10px 15px !important;
  font-size: 11px;
  font-family:Lexend Deca, sans-serif !important;
  font-weight: 700;
}

.link-1 {
  color: hsl(31, 77%, 52%) !important;
}

.link-2  {
  color: hsl(184, 100%, 22%) !important;
}

.link-3 {
  color: hsl(179, 100%, 13%) !important;
}

/* hover property */
 a:hover {
  border: 1px solid white !important;
  background:none !important;
  color: white !important;
  cursor: pointer !important;

  /* white hover color should appply when a user hovers on the button and the link too */
}
}


